name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Cache PlatformIO packages
        id: pio-cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.platformio/packages
            ~/.platformio/penv
            .pio/libdeps
          key: platformio-${{ runner.os }}-${{ hashFiles('platformio.ini') }}
          restore-keys: |
            platformio-${{ runner.os }}-

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install platformio

      # - name: Install dependencies
      #   run: |
      #     apt-get update
      #     apt-get install -y python3 python3-pip
      #     python3 -m pip install --upgrade pip
      #     pip3 install platformio

      - name: Build project
        run: pio run -e esp32dev
